{% extends 'admin/base.html' %}


{% block content %}
<div class="w-full md:w-2/3">

  <section class="p-6">

    <div class="text-center">

      <h2 class="text-2xl font-bold">Add Location</h2>

    </div>

    <div class="mt-6">

      <form class="needs-validation" method="post" novalidate>

        {% csrf_token %}

        <div class="mb-4">

          <center><input type="text" class="w-1/2 border rounded p-2 " placeholder="pincode" name="pincode" required>

          <div class="hidden text-red-600">Please enter the pincode</div>

        </div>

        

        <div class="text-center">

          <input type="submit" class="bg-blue-500 text-white py-2 px-4 rounded" value="Submit">

        </div>

      </form>

    </div>
{% endblock %}

 