{% extends 'admin/base.html' %}

{% block content %}
<div class="flex flex-col items-center p-4" style="width:100%">

  <h2 class="text-2xl font-bold">Categories</h2>

  <div class="overflow-x-auto rounded-lg shadow">

    <table class="w-full text-left border-collapse">
    
      <thead>
        <tr class="border-b-2">
          <th class="p-3 font-medium text-gray-900 bg-gray-100">Name</th>
          <th class="p-3 font-medium text-gray-900 bg-gray-100">Point</th>
          <th class="p-3 font-medium text-gray-900 bg-gray-100">Action</th>
        </tr>
      </thead>

      <tbody>

        {% for i in cat %}
        <tr class="hover:bg-gray-100 border-b border-gray-200">
          <td class="p-3">{{i.name}}</td>
          <td class="p-3">{{i.point}}</td>
          <td class="p-3">
            <a href="ManageCategory?id={{i.id}}" class="px-4 py-2 bg-blue-500 text-white rounded">Manage</a>
          </td>
        </tr>
        {% endfor %}
      
      </tbody>
      
    </table>

  </div>

</div>

{% endblock %}