{% extends 'user/base.html' %}
{% block content %}
<table class="table table-bordered table-hover">
    <tr>   
        <th class="p-3 mb-2 bg-primary text-light">Date</th>
        <th class="p-3 mb-2 bg-primary text-light">Status</th>
        <th class="p-3 mb-2 bg-primary text-light">Description </th>
    </tr> 
    
    {% for i in update %}
    <tr>
            <td>{{i.date}}</td>
            <td>{{i.status}}</td>
            <td>{{i.update}}</td>
    </tr>  
    {% endfor %}

</table>
{% endblock %}