{% extends 'user/base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}



<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/user">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      {% for dri in app_user  %}
      <div class="row" >
        <div class="container py-5">
          <div class="card mb-4" >
            <div class="card-body text-center">
              <img src="{% static 'img/av3.webp' %}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{dri.user.first_name}}</h5>
              <div class="d-flex justify-content-center mb-2">
                <a href="EditProfile" class=" btn btn-outline-primary ms-1">Edit Profile</a>
              </div>
            </div>
          </div>
         
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{dri.user.first_name}}</p>
                </div>
              </div>
              <hr>
             
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{dri.user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{dri.mobile}}</p>
                </div>
              </div>
            
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{dri.address}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Pincode</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{dri.pincode}}</p>
                </div>
              </div>
          
              </div>
            </div>
          </div>
          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endfor %}

{% endblock %}