{% extends 'base1.html' %}
{% block content %} 
{% load static %}
{% if message %}
<script>
  alert("{{message}}")
</script>
{% endif %}

  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{% static 'img/Home.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>Transforming Waste, Preserving the Future</h4>
              <p style="text-align:justify">Waste Management is an essential process that involves the collection, transportation, recycling, 
                and disposal of waste materials to promote environmental sustainability and safeguard the planet for future generations.
                 By efficiently managing waste, we contribute to a cleaner and healthier world, ensuring that valuable resources are not wasted but are given new life through recycling and responsible disposal methods. Together, we can make a significant impact on reducing pollution, conserving natural resources, and creating a more sustainable future for all. Let's join hands and make waste management a priority to protect our beautiful planet</p>
              <a class="button button--active mt-3 mt-xl-4" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->


    <!-- ================ Best Selling item  carousel ================= --> 
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Popular Item in the market</p>
          <h2>Best <span class="section-intro__style">Sellers</span></h2>
        </div>
        
        <div class="owl-carousel owl-theme" id="bestSellerCarousel">
          {% for i in product %}
          <div class="card text-center card-product">
            
            <div class="card-product__img">
              <img class="img-fluid-show" src="media/{{i.image}}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Accessories</p>
              <h4 class="card-product__title"><a href="single-product.html">{{i.name}}</a></h4>
              <p class="card-product__price">₹{{i.rate}}</p>
            </div>
            
          </div>
          {% endfor %}

        </div>
        
      </div>
    </section>
    <!-- ================ Best Selling item  carousel end ================= --> 
    
  </main>

  {% endblock %}